.pacientes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
}

h1 {
  font-weight: 600;
}
.pacientes-busca {
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.411);
}

.paciente-item {
  background: #f8f8f8;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border-left: 4px solid #4caf50;
  font-size: 16px;
}
