.pacientes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
  background-image: linear-gradient(to bottom,
   rgba(72, 142, 188, 0.9), 
   rgba(132, 177, 207, 0.7), 
   rgb(255, 255, 255,0.5)),
    url("../../assets/pacientes.jpg");
background-size: cover;
background-position: center;
width: 100%;
max-height: 600px;
overflow-y: auto;
padding-right: 10px;
gap: 20px;
}

.pacientes-container h1 {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
  color: aliceblue;
  margin-top: 70px;
}

.pacientes-container p{
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.paciente-busca {
  text-align: center;
  width: 300px;
  color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.411);
}

.paciente-item {
  background: #f8f8f8;
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  border-left: 4px solid #4caf50;
  font-size: 16px;
}

.paciente-card {
  background: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid transparent;
}

.paciente-card:hover {
  transform: scale(1.02);
  background: #f4f4f4;
}

.paciente-card.selecionado {
  border-color: #0077ff;
  background: #e8f1ff;
}