* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.home-container {
  padding: 15px;
  margin-top: 30px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 400px;
}

.home-container h1 {
  width: 100%;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 15px;
  width: 200px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
}

.card h2 {
  margin-bottom: 10px;
  color: #007b5f;
  height: 25%;
  width: 100%;
}

.card p {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}
