/*.medicos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  text-align: center;
  background-image: linear-gradient(
      to bottom,
      rgba(72, 142, 188, 0.9),
      rgba(132, 177, 207, 0.7),
      rgb(255, 255, 255, 0.5)
    ),
    url("../../assets/medicos.jpg");
  background-size: cover;
  width: 100%;
  height: max-content;//parou aqui(/)
}

.medicos-busca {
  width: 300px;
  padding: 10px;
  margin: 20px 0;
  border-radius: 8px;
  border: 1px solid #065bfa;
  font-size: 1rem;
}

.medicos-lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
}

.medico-card {
  padding: 20px;
  border-radius: 10px;
  background: #87b9f1;
  text-align: left;
}

.medico-card h2 {
  margin-bottom: 5px;
}

.medicos-container h1{
  color: aliceblue;
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
  margin-top: 70px;
}
.medicos-container p{
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
*/
.medicos-container {
gap: 20px;
}



.form-row {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
gap: 15px;
}



.form-row input,
.form-row select {
padding: 10px;
border: 2px solid #ccc;
border-radius: 8px;
font-size: 15px;
transition: 0.2s;
background: #fafafa;
color: #2c3e50;
}



.form-row input:focus,
.form-row select:focus {
border-color: #afdaf7;
box-shadow: 0 0 5px cornflowerblue;
outline: none;
}



.input-endereco {
grid-column: span 2;
}



.buttons {
display: flex;
justify-content: flex-end;
gap: 10px;
}



.btn-cancelar {
background: #ccc;
padding: 10px 20px;
border-radius: 8px;
border: none;
cursor: pointer;
font-weight: 600;
}


.btn-cancelar:hover {
background: #b1b1b1;
}



.btn-salvar {
background: #4CAF50;
color: white;
padding: 10px 25px;
border-radius: 8px;
border: none;
cursor: pointer;
font-weight: 600;
}


.btn-salvar:hover {
background: #43a047;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}