:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  /*background-color: #606ac4;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0 auto;
  padding: 0rem;
  text-align-last: center;
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  max-width: none;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  place-items: center;
  min-width: 100vh;
  min-height: 100vh;
  justify-content: center;
  align-items: flex-start;

  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(72, 142, 188, 0.9),
      rgba(132, 177, 207, 0.7),
      rgb(255, 255, 255, 0.5)
    ),
    url(assets/homepage.jpg);
}
